body {
    font-family: "Smooch Sans", sans-serif;
    background-color: #2d2d2d;
}

main {
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

/* //////////////////
MAIN NAVIGATION BAR
////////////////// */
.navbar-brand {
    color: black;
    font-size: 2rem;
    font-weight: 200;
}

.navbar-brand span {
    color: purple;
}

.inline-icon {
    width: 1rem;
    height: 1rem;
}

.navbar-img {
    width: 2rem;
    height: 2rem;
}

/* The icon looks too tall when beside the other icons */
#navbar-heart-icon-offset {
    padding-top: 10px;
    padding-bottom: 0px;
}
/* //////////////////
////////////////// */

/* //////////////////
DESKTOP CHECKOUT FOOTER
////////////////// */
.checkout {
    margin: 0;
    border: none;
    height: 100%;
    font-size: 1.25rem;
}

#checkout-button {
    background-color: greenyellow;
    width: 100%;
}
/* //////////////////
////////////////// */

/* //////////////////
SEARCH PAGE
////////////////// */
.listing-img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
    border: 1px solid #e0e0e0;
}

.account-profile-picture {
    margin-right: 10px;
    padding: 0;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

#breadcrumb a {
    color: white;
}

.listing-control-icon img {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%); /* Make the icons white */
    width: 30px;
    height: 50px;
}

/* //////////////////
LOGIN PAGE
////////////////// */
.full-height {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* //////////////////
////////////////// */

/* ////////////////// 
ACCOUNT PAGE
////////////////// */
.account-body {
    background-color: #f8f9fa;
}
.account-container {
    max-width: 800px;
    margin: 40px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* //////////////////
INDEX PAGE
////////////////// */
.header {
    width: 100%;
    height: 60vh;
    background-image: url("https://images.unsplash.com/photo-1563013544-824ae1b704d3?q=80&w=3270&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    display: flex;
    justify-content: center;
    align-items: center;
}

.header h1 {
    color: black;
    font-size: 10rem;
    text-align: center;
}

@media (max-width: 1080px) {
    .header h1 {
        font-size: 7rem;
    }
}

@media (max-width: 768px) {
    .header h1 {
        font-size: 5rem;
    }
}

.category-img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    padding: 0;
    margin: 0;
}
